[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "~=0.14.0"
flask-wtf = "~=0.15.1"
jinja2 = "~=3.0.3"
wtforms = "~=2.3.3"
werkzeug = "~=2.0.1"

[dev-packages]

[requires]
python_version = "3.9"
